* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --NavText-Color-BeforeHover: rgb(77, 77, 77);
  --NavText-Color-AfterHover: rgb(255, 255, 255);
  --NavBackground-Color-BeforeHover: rgba(19, 31, 47, 0);
  --NavBackground-Color-AfterHover: rgba(60, 75, 94, 0.8);
  --HeaderSectionsTitle-color: rgb(226, 24, 24);
  --NavLogo-Color: rgb(224, 147, 4);
  --bodyBack-Color: rgb(238, 238, 238);
  --HeaderNavFont-Size: clamp(1.3rem, 1.8vw, 5rem);
  --Navfont-size: clamp(0.9rem, 1.2vw, 1.1rem);
  --nav-hover-color: orange;
  --HeaderNavColor-Hover: rgb(230, 34, 34);
  --ActiveNavBoxShadow: rgba(0, 0, 0, 0.4);
  --accent: #e17c1d; /* rose-600 */
  --accent-ink: #fff5f7;
  --footerText-Color: #ebebeb;
  --form-control-color: orange;
  /* --menu-buttonbg: #333;
    --menu-buttontxt: #fff;*/
}

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--bodyBack-Color);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--NavText-Color-BeforeHover);
  font-weight: 500;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body h2 {
  font-size: 3rem;
}
body h3 {
  font-size: 3rem;
}
body p {
  font-size: 1.2rem;
}
img.drop-shadow-example {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}
.dropdown {
  position: fixed;
  z-index: 1000;
  left: 10px;
  bottom: 20px;
}
.fa-gear {
  color: var(--menu-buttontxt);
}
#toggle {
  display: none;
}
.btn {
  padding: 10px 16px;
  border-radius: 8px;
  background: var(--menu-buttonbg);
  color: var(--menu-buttontxt);
  cursor: pointer;
  user-select: none;
}
.menu {
  position: absolute;
  bottom: 100%; /* فوق الزر */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;

  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 6px;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}
#toggle:checked ~ .menu {
  opacity: 1;
  pointer-events: auto;
}
.menu button {
  display: block;
  width: 100%;
  padding: 8px 14px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.menu button:hover {
  background: #f2f2f2;
}

header {
  background-color: var(--NavBackground-Color-BeforeHover);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease;
} /* عند السكرول = نفس لل جافا سكريبن hover  */
header.scrolled {
  background-color: var(--NavBackground-Color-AfterHover);
  box-shadow: 0 7px 15px 1px var(--ActiveNavBoxShadow);
}
header.scrolled nav a {
  color: var(--NavText-Color-AfterHover);
}
header.scrolled .fa-bars {
  color: orange;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
nav ul {
  display: flex;
  gap: 3vw;
}
nav li {
  display: flex;
  list-style: none;
}
nav a {
  position: relative;
  color: var(--NavText-Color-BeforeHover);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: var(--Navfont-size);
  font-weight: 500;
}
.navlinks a:hover {
  color: var(--nav-hover-color);
}
.navlinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--nav-hover-color);
  transition: width 0.3s ease;
}
.navlinks a:hover::after {
  width: 100%;
}
.NavHeader a {
  color: var(--NavLogo-Color);
  font-size: var(--HeaderNavFont-Size);
  font-weight: 800;
}
.NavHeader {
  transition: all 0.2s ease;
}
.NavHeader:hover {
  transform: scale(1.03);
}
header:hover {
  background-color: var(--NavBackground-Color-AfterHover);
  box-shadow: 0 7px 15px 1px var(--ActiveNavBoxShadow);
}
header:hover nav a {
  color: var(--NavText-Color-AfterHover);
}
header:hover .fa-bars {
  color: orange;
}
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--NavText-Color-BeforeHover);
}
@media (max-width: 700px) {
  nav {
    justify-content: space-between;
    padding: 0 20px;
  }
  .navlinks {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--NavBackground-Color-AfterHover);

    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
      transform 0.45s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.35s ease,
      visibility 0.35s ease;
  }
  .navlinks ul {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
  .navlinks li {
    padding: 15px 0;
  }
  .navlinks a {
    color: var(--NavText-Color-AfterHover);
    font-size: 1.1rem;
    width: 100%;
  }
  .menu-toggle {
    display: block;
  }
  /* لما المنيو تفتح */
  .navlinks.active {
    transform: translateY(0);
    opacity: 0.99;
    visibility: visible;
    pointer-events: auto;
    box-shadow: 0 7px 15px 1px var(--ActiveNavBoxShadow);
  }
} /* لما منيو الموبايل مفتوحة */
header.menu-open {
  background-color: var(--NavBackground-Color-AfterHover);
}
/* إلغاء تأثير hover أثناء فتح المنيو */
header.menu-open:hover {
  background-color: var(--NavBackground-Color-AfterHover);
}
/* تثبيت لون اللينكات */
header.menu-open nav a {
  color: var(--NavText-Color-AfterHover);
}
header.menu-open .navlinks a::after {
  width: 0;
}
header.menu-open .fa-bars {
  color: orange;
}
.showbg {
  animation: bg linear both;
  animation-timeline: scroll();
  animation-range: 0px 120px; /* أول 120px سكرول */
}
@keyframes bg {
  from {
    background-color: var(--NavBackground-Color-BeforeHover);
    transition: background-color 0.3s ease;
  }
  to {
    background-color: var(--NavBackground-Color-AfterHover);
  }
}
.site-footer {
  background-color: #1b1b1b;
  color: var(--footerText-Color);
  padding: 40px 20px 20px;
  font-family:
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  min-width: 70vw;
}
.footer-section {
  flex: 1 1 200px; /* مرن حسب الشاشة */
  opacity: 0.9;
}
.footer-section.brand {
  display: flex;
  flex-direction: column; /* هذا يجعل النص تحت العنوان */
  align-items: center; /* أو center حسب رغبتك */
  justify-content: center;
  padding-right: 250px;
  margin-left: 30px;
}
.footer-section.brand h2 {
  margin: 10px 0;
  font-size: 1.8rem;
  opacity: 0.8;
}
.footer-section.brand p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0.9;
}
.footer-section h4 {
  color: var(--accent);
  margin-bottom: 15px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section ul li a {
  color: var(--footerText-Color);
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-section ul li a:hover {
  color: var(--accent);
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons a {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  color: var(--footerText-Color);
}
.social-icons a:hover {
  transform: scale(1.2);
  filter: brightness(0) invert(0.7) sepia(1) saturate(5) hue-rotate(330deg);
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 0.9rem;
  opacity: 0.8;
}
.Developer p {
  line-height: 2.5;
}
/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-section {
    flex: 1 1 100%;
  }
  .footer-section.brand {
    padding-right: 0;
    padding-bottom: 20px;
    margin-left: 0;
  }
  .social-icons {
    justify-content: center;
  }
  .links {
    padding-bottom: 20px;
  }
  .Developer {
    padding-top: 20px;
  }
}

/*========= Main ==========*/
.layout{
  flex: 1;
}
main {
  padding-top: 80px; /* قد ارتفاع الهيدر */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form label {
  font-weight: 600;
}
select {
  width: 146px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: none;
  text-align: center;
  margin-left: 10px;
}
.make-margins {
  margin: 10px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
}
/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 14px;
  box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  margin-bottom:50px;
  display: grid;
  overflow: auto;

  /*stacking fieldsets above each other*/
  position: relative;
}

#msform fieldset {
  background: var(--bodyBack-Color);
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  min-width: 50vw;
  margin: 0;
  padding-bottom: 20px;
  padding: 20px;
  text-align: center;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform fieldset .form-card {
  text-align: center;
  color: #9e9e9e;
}

#msform input,
#msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #a1a1a1;
  border-radius: 10px;
  margin: 2px 0px 25px 0px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid var(--NavLogo-Color);
  outline-width: 0;
}

/*Blue Buttons*/
#msform .action-button {
  width: 100px;
  background: var(--NavLogo-Color);
  font-weight: bold;
  color: var(--NavText-Color-AfterHover);
  border: 0 none;
  border-radius: 13px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow:
    0 0 0 2px white,
    0 0 0 3px skyblue;
}

/*Previous Buttons*/
#msform .action-button-previous {
  width: 100px;
  background: rgb(104, 104, 104);
  font-weight: bold;
  color: var(--NavText-Color-AfterHover);
  border: 0 none;
  border-radius: 13px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow:
    0 0 0 2px white,
    0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px;
}

select.list-dt:focus {
  border-bottom: 2px solid var(--NavLogo-Color);
}

/*The background card*/
.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}

/*FieldSet headings*/
.fs-title {
  font-size: 25px;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

/*progressbar*/
#progressbar {
  margin-bottom: 10px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #trip:before {
  font-family: FontAwesome;
  content: "🚌";
}

#progressbar #seatsFieled:before {
  font-family: FontAwesome;
  content: "💺";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "👤";
  /*\f007*/
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "💳";
  /*\f09d*/
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:not(:last-child):after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 50%;
  top: 25px;
  z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: var(--NavLogo-Color);
}

.radio-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px 0px;
}
.gender {
  justify-content: center;
}
/*Imaged Radio Buttons*/
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  font-weight: 500;
  font-size: clamp(16px, 2.5vw, 24px);
}
input[type="radio"] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
input[type="radio"] + label span {
  background-color: #a5a4a4;
}
input[type="radio"]:checked + label {
  color: #333;
}
input[type="radio"]:checked + label span {
  background-color: #ff8800;
  border: 2px solid #646464;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.24s linear;
  -o-transition: background-color 0.24s linear;
  -moz-transition: background-color 0.24s linear;
  transition: background-color 0.24s linear;
}

.select-group {
  margin: 25px 0px;
}
.date-wrapper {
  position: relative;
  display: inline-block;
}
.date-wrapper label {
  position: absolute;
  left: 10px;
  top: 50%;
  color: var(--NavText-Color-BeforeHove);
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.2s;
}

input[type="date"] {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: none;
  text-align: center;
}
.date-wrapper input:focus + label,
.date-wrapper input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: var(--NavText-Color-BeforeHove);
}

.inputs-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
/* قاعدة عامة لكل الانبوتس */
input[type="text"],
input[type="tel"],
input[type="number"] {
  height: 40px;
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid #cccccc; /* لون افتراضي */
  border-radius: 8px;
  outline: none; /* إزالة الإطار الافتراضي عند التركيز */
  transition:
    border 0.25s ease,
    box-shadow 0.25s ease;
  background-color: #fff;
  box-sizing: border-box;
}


/* Setting Information */
.bus{
  width:100%;
  background:#222;
  padding:20px;
  border-radius:12px;
  color:white;
}
.bus-front{
  display:flex;
  margin-bottom:20px;
}
.driver{
  width:80px;
  height:60px;
  background:#555;
  border-radius:6px;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* main seats 2 + aisle + 2 */
.seats-main{
  display:grid;
  grid-template-columns: repeat(2,1fr) 50px repeat(2,1fr);
  gap:10px;
}
.seats-back{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  gap:10px;
}
.seat{
  display: grid;
  place-items:center;
  gap: 10px;
  background:#ccc;
  border:none;
  border-radius:6px;
  padding: 20px;
  cursor: pointer;
}
.booked{
  background-color: rgb(117, 117, 117);
  cursor: default;
}
.selected {
    background-color: green;
    color: white;
}
.seat:hover:not(.booked){
  background-color: #adadad;
}

/* Tickets Information */
.ticket-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*.ticket-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}*/
.ticket-card input[type="text"],
.ticket-card input[type="number"],
.ticket-card select {
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.ticket-card input[type="text"]:focus,
.ticket-card input[type="number"]:focus,
.ticket-card select:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.25);
}
.ticket-card .radio-group {
  display: flex;
  gap: 15px;
}
.ticket-card .radio-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}
.ticket-card .radio-group input[type="radio"] {
  margin-right: 6px;
}
.ticket-card h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.ticket-card .seat-number {
  font-weight: 600;
  color: #007bff;
}


/* Pop up */
.popup{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display:none;
    justify-content:center;
    align-items:center;
}
.popup-box{
    background:white;
    padding:20px;
    border-radius:8px;
    text-align:center;
}

/*Booked Successfully*/
.fit-image {
  width: 15%;
  object-fit: cover;
}
@media (max-width: 750px) {
  .fit-image {
    width: 35%;
    object-fit: cover;
  }
}
