*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
      --NavText-Color-BeforeHover: rgb(77, 77, 77);
      --NavText-Color-AfterHover: rgb(255, 255, 255);
     --NavBackground-Color-BeforeHover: rgba(19,31,47,0);
     --NavBackground-Color-AfterHover: rgba(60, 75, 94, 0.8);
    --HeaderSectionsTitle-color: rgb(226, 24, 24);
    --NavLogo-Color: rgb(224, 147, 4);
    --bodyBack-Color: #fcfcfc;
    --HeaderNavFont-Size: clamp(1.3rem,1.8vw,5rem);
    --Navfont-size: clamp(0.9rem, 1.2vw, 1.1rem);
    --nav-hover-color: orange;
    --HeaderNavColor-Hover: rgb(230, 34, 34);
    --ActiveNavBoxShadow : rgba(0,0,0,0.4);
    --accent: #e17c1d;       /* rose-600 */
    --accent-ink: #fff5f7;
    --footerText-Color:#ebebeb ;
    --form-control-color: orange;
    /* --menu-buttonbg: #333;
    --menu-buttontxt: #fff;*/
}

html{
    scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body{
    font-family: "Roboto",sans-serif;
    background: linear-gradient(45deg , rgb(255, 255, 255) ,rgb(241, 210, 152));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: var(--NavText-Color-BeforeHover);
    font-weight: 500;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body h2{
    font-size: 3rem;
}body h3{
    font-size: 3rem;
}
body p{
    font-size: 1.2rem;
}
img.drop-shadow-example {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}
.dropdown {
  position: fixed;
  z-index: 1000;
  left: 10px;
  bottom: 20px;
}
.fa-gear{
    color: var(--menu-buttontxt);
}
#toggle {
  display: none;
}
.btn {
  padding: 10px 16px;
  border-radius: 8px;
  background: var(--menu-buttonbg);
  color: var(--menu-buttontxt);
  cursor: pointer;
  user-select: none;
}
.menu {
  position: absolute;
  bottom: 100%;      /* فوق الزر */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;

  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  padding: 6px;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}
#toggle:checked ~ .menu {
  opacity: 1;
  pointer-events: auto;
}
.menu button {
  display: block;
  width: 100%;
  padding: 8px 14px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.menu button:hover {
  background: #f2f2f2;
}



header{
    background-color:var(--NavBackground-Color-BeforeHover);
    height: 9%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    transition: all 0.3s ease;
}/* عند السكرول = نفس لل جافا سكريبن hover  */ 
header.scrolled{
    background-color:var(--NavBackground-Color-AfterHover);
    box-shadow: 0 7px 15px 1px var(--ActiveNavBoxShadow);
}
header.scrolled nav a{
    color:var(--NavText-Color-AfterHover);
}
header.scrolled .fa-bars{
    color: orange;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
nav ul {
   display: flex;
   gap: 3vw;
}
nav li{
 display: flex;
list-style: none;
}
nav a{
    position: relative;
    color: var(--NavText-Color-BeforeHover);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: var(--Navfont-size);
      font-weight: 500;
}
.navlinks a:hover{
color :var(--nav-hover-color);
}
.navlinks a::after{
content: '';
position: absolute;
left:0;bottom: -4px;
width: 0;height: 2px;
background-color:var(--nav-hover-color) ;
transition: width 0.3s ease;
}
.navlinks a:hover::after{
width: 100%;
}
.NavHeader a{
    color: var(--NavLogo-Color);
    font-size: var(--HeaderNavFont-Size);
     font-weight: 800;
}
.NavHeader{
    transition: all 0.2s ease;
}
.NavHeader:hover{
   transform:scale(1.03);
}
header:hover{
      background-color:var(--NavBackground-Color-AfterHover);
     box-shadow: 0 7px 15px 1px var(--ActiveNavBoxShadow);
}
header:hover nav a{
      color:var(--NavText-Color-AfterHover);
}
header:hover .fa-bars{
      color: orange;
}
.menu-toggle{
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--NavText-Color-BeforeHover);
}
@media (max-width:700px){
    nav{
        justify-content: space-between;
        padding: 0 20px;
    }
    .navlinks{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: var(--NavBackground-Color-AfterHover);

        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition:
            transform 0.45s cubic-bezier(.4,0,.2,1),
            opacity 0.35s ease,
            visibility 0.35s ease;
    }
    .navlinks ul{
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
    .navlinks li{
        padding: 15px 0;
    }
    .navlinks a{
        color: var(--NavText-Color-AfterHover);
        font-size: 1.1rem;
        width: 100%;
    }
    .menu-toggle{
        display: block;
    }
    /* لما المنيو تفتح */
    .navlinks.active{
        transform: translateY(0);
        opacity: 0.99;
        visibility: visible;
        pointer-events: auto;
    box-shadow: 0 7px 15px 1px var(--ActiveNavBoxShadow);
    }
}/* لما منيو الموبايل مفتوحة */
header.menu-open{
    background-color: var(--NavBackground-Color-AfterHover);
}
/* إلغاء تأثير hover أثناء فتح المنيو */
header.menu-open:hover{
    background-color: var(--NavBackground-Color-AfterHover);
}
/* تثبيت لون اللينكات */
header.menu-open nav a{
    color: var(--NavText-Color-AfterHover);
}
header.menu-open .navlinks a::after{
    width: 0;
}
header.menu-open .fa-bars{
    color: orange;
}
.showbg{
animation: bg linear both;
animation-timeline: scroll();
animation-range: 0px 120px; /* أول 120px سكرول */
}
@keyframes bg {
    from{
        background-color:var(--NavBackground-Color-BeforeHover);
        transition: background-color 0.3s ease;
    }
    to{
        background-color:var(--NavBackground-Color-AfterHover);
    }
}



main {
  padding-top: 120px; /* قد ارتفاع الهيدر */
    flex: 1; /* هذا السر */
}
.tripbookingform{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form fieldset{
  border: none;
  padding: 20px;
  text-align: center;
}
form legend{
  font-size: larger;
}
form label{
  font-weight: 600;
}
/* Style the form */
#regForm {
  border: 4px solid rgba(255, 0, 0,0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  padding: 10px;
  width: 32%;
  min-width: 300px;
  margin-bottom: 50px;
  box-shadow: 0 9px 17px rgb(0, 0, 0,0.3);
}
/* Style the input fields */
input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
/* Hide all steps by default: */
.tab {
  display: none;
}
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  padding: 20px 0;
}
.form-control + .form-control {
  margin-top: 1em;
}
.form-control:focus-within {
  color: var(--form-control-color);
}
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
input[type="date"]
{
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: none;
  text-align: center;
}
select{
  width: 146px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: none;
  text-align: center;
margin-left: 10px;
}
.make-margins{
  margin: 10px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0,0.2);
}
.Passengers{
  margin: 10px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
/* Mark the active step: */
.step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
.formbtn{
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
     box-shadow: 0 7px 14px rgb(0, 0, 0,0.2);
     background-color: orange;
}



.site-footer {
  background-color: #1b1b1b;
  color: var(--footerText-Color);
  padding: 40px 20px 20px;
  font-family: Segoe UI, Roboto, Arial, sans-serif;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  min-width: 70vw;
}
.footer-section {
  flex: 1 1 200px; /* مرن حسب الشاشة */
  opacity: 0.90;
}
.footer-section.brand {
  display: flex;
  flex-direction: column; /* هذا يجعل النص تحت العنوان */
  align-items: center; /* أو center حسب رغبتك */
  justify-content: center;
  padding-right: 250px;
  margin-left: 30px;
}
.footer-section.brand h2 {
  margin: 10px 0;
  font-size: 1.8rem;
  opacity: 0.8;
}
.footer-section.brand p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0.9;
}
.footer-section h4{
  color: var(--accent);
  margin-bottom: 15px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section ul li a {
  color: var(--footerText-Color);
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-section ul li a:hover {
  color: var(--accent);
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons a{
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;
  color:  var(--footerText-Color);
}
.social-icons a:hover {
  transform: scale(1.2);
  filter: brightness(0) invert(0.7) sepia(1) saturate(5) hue-rotate(330deg);
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 0.9rem;
  opacity: 0.8;
}
.Developer p{
    line-height: 2.5;
}
/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-section {
    flex: 1 1 100%;
  }
.footer-section.brand {
  padding-right: 0;
  padding-bottom: 20px;
  margin-left: 0;
}
  .social-icons {
    justify-content: center;
  }
  .links{
      padding-bottom: 20px;
  }
  .Developer{
      padding-top: 20px;
  }
}