<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-section brand">
      <h4 style="font-size: 25px; padding-bottom: 10px">MrBus</h4>
      <p>Your Rest Is Our Proparity</p>
    </div>
    <div class="footer-section links">
      <h4>fast links</h4>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../html/services.html">Services</a></li>
        <li><a href="../html/about.html">About</a></li>
        <li><a href="../index.html#contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-section social">
      <h4>Follow</h4>
      <div class="social-icons">
        <a href="#Facebook" aria-label="Facebook"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#Twitter" aria-label="Twitter"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="#Instagram" aria-label="Instagram"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#Youtube" aria-label="LinkedIn"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="footer-section Developer">
      <h4>MrBus Website Developer</h4>
      <p>Email: <span>omarkyhamed1996@gmail.com</span></p>
      <address>Address: Jordan - Aqaba</address>
      <p>Mobile: +962 798 678 036</p>
      <div class="social-icons">
        <a href="#Facebook" aria-label="Facebook"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#Twitter" aria-label="Twitter"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="#Instagram" aria-label="Instagram"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#LinkedIn" aria-label="LinkedIn"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 MrBus Company. All rights reserved.</p>
  </div>
</footer>
