<header>
  <nav>
    <div class="NavHeader" style="padding-bottom: 11px">
      <h1>
        <a href="../index.html">
          <i class="fa-solid fa-bus" style="color: #e8a411"></i>
          MrBus Company</a
        >
      </h1>
    </div>
    <div class="menu-toggle" id="menuToggle">
      <i class="fas fa-bars"></i>
    </div>
    <div class="navlinks">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../html/BookTrip.html">BookTrip</a></li>
        <li><a href="../html/Services.html">Services</a></li>
        <li><a href="../html/About.html">About</a></li>
        <li><a href="../html/Login.html" id="myAccountLink">MyAccount</a></li>
      </ul>
    </div>
  </nav>
</header>
